{{>head}}
    <body>
         {{>navigation}}

        <main>
            <h1>{{heading}}</h1>
        </main>

        <div class="content-panel">
            <form method="post action='/settings'">
            
                <fieldset>
                    <h3>NEWS API</h3>
                    <p>
                        <label class="form-label" for="news-api-key">NEWS API KEY</label>
                        <input type="text" class="text-input" id="news-api-key" value ="{{newsApiKey}}">
                    </p>
                </fieldset>
            </form>
        </div>
    </body>
</html>